
.dashitems{
    background-color: white;
    text-align: center;
    
}
.allproducts{
    padding-top: 2%;
    padding-bottom: 1%;
    margin-bottom: 1%;
    margin-top: 1%;
}
.allproducts:hover{
   
    
    padding-top: 2%;
    background-color:  rgba(177, 177, 177, 0.138);

}
.nofitems{
    font-size: 30px;
    font-weight: bold;
    
}
.dashitemsname{
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
}

.currSign:before { 
    content: 'Rs. '; 
} 